body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  padding: 20px;
  margin-top: 20px;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 15px;
  margin-top: 20px;
  min-width: 400px;
  min-height: 300px;
  border: 1px solid silver;
  background-color: whitesmoke;
  color: rgb(77, 49, 49);
  border-radius: 30px;
}
#lst {
  min-width: 250px;
  
}
#lst li{
    margin-bottom: 10px;
}
